    
      <div class="header_container">
        <div class="logo">
          <h3><i class="fas fa-virus logo-icon"></i> Covi-<span>track</span></h3>
        </div>
        <div class="search_container">
            <form>
                <input type="text" class="search" id="search_box" placeholder="Search here!" autocomplete="off">
                <input type="submit" class="search_button" id="search"></input>
            </form>
        </div>
        {{!-- <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/about">about</a></li>
        </ul> --}}
      </div>